body {
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* Para que se centre verticalmente */
    margin: 0;
}

.post {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 470px;
}

.header {
    
    display: flex;
    height: 10%;
    box-sizing: border-box;
}

.header1 {
    background-color: white;
    width: 10%;
    text-align: center;

  
}

.header1 p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}
.header2 {
    
    width: 80%;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

.header2 p {
    margin: 0;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 16px;
    word-wrap: break-word;
    
}

.header2 span {
    padding-left: 10px;
    font-style: italic;
    color: gray
}
.header3 {
    
    width: 10%;
    
}

.header3 p {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;

}

.body {
    
    height: auto;
    margin: 0;
    
    

}

img {
    margin: 0;
    max-width: 100%;
    max-height: auto;
}

.footer {
    
    height: 30%;
}

.opciones {
   
    display: flex;
    height: 30%;
    margin: 0;

}



.opciones1 {
    
    width: 90%;
}

.opciones1 p {
    margin: auto;
    margin-top: 9px;
    margin-left: 10px;
    font-size: 30px;
    
}

.opciones2 {
    
    width: 10%;
}

.opciones2 p{
    margin: 0;
    margin-top: 9px;
    text-align: center;
    font-size: 30px;
}

.like {
    
    height: 15%;
}

.like p {
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    
}

.comentario {
    
    height: auto;
    margin: 0;
    padding-left: 10px;
}

.comentario p {
    margin: 0;
    padding-top: 15px;
}





